.input-container {
    position: relative;
    margin-bottom: 16px;

    label {
        position: absolute;
        top:-12px;
        left:10px;
        background-color: #fff;
        padding:2px 4px;
        line-height: 1;
        color: #8B8B92;

        display: none;

        &.on {
            display: block;
        }

    }

    input {
        width: 100%;
        border: 0;
        padding: 12px;
        box-sizing: border-box;
        border:1px solid #8B8B92;
        border-radius:6px;

        &:focus {
            outline-color: var(--main-color);
        }
    }
}